.color-palette {
  text-align: center;

  .color-box {
    box-sizing: border-box;
    margin: 1px;
    display: inline-block;
    border: solid 1px #999;
    cursor: pointer;

    &.active,
    &:hover {
      border-color: #000;
      transform: scale(1.3);
    }
  }
}
